h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 #[strong Cod. 250201021-1]
        p.mb-0 Analizar el storyboard de acuerdo con los parámetros del guión técnico.
        hr
        h5 #[strong Cod. 250201021-2]
        p.mb-0 Establecer tiempos a los planos del storyboard según el guión técnico.
        hr
        h5 #[strong Cod. 250201021-3]
        p.mb-0 Realizar el animatic según el lenguaje audiovisual establecido en el guión técnico.
        hr
        h5 #[strong Cod. 250201021-4]
        p.mb-0 Verificar el animatic según el storyboard.
           




