.container#page-introduccion

    .header-ecored
        h1 Introducción


    .jumbotron.bg-white 
      .row
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/5cKnLXBKDjs', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.mt-0
              p El plan estratégico organizacional es un documento que involucra todas las áreas o procesos de la empresa u organización de acuerdo con la misión y visión organizacional para ayudar a definir los objetivos o metas a alcanzar de acuerdo con el análisis del entorno, es decir, todos los actores y fuerzas del mercado que influyen en la capacidad de la empresa para efectuar negociaciones de manera eficaz con su mercado meta.

             
          



              