.container#tema_2

    .header-ecored
        h1 2. Ritmo y montaje

    .jumbotron.bg-white      

      .row.justify-content-center.mb-5
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_2/img_2_01.jpg", alt="").img-fluid
        
        .col-12
          p El montaje o también conocido como edición, es el proceso mediante el cual se determina la duración y cortes de cada uno de los planos, de la misma manera se realiza la sincronización de sonidos para otorgar mayor sentido al audiovisual.
          
          p Este es uno de los elementos más importantes ya que contribuye a la organización y el ritmo del filme, los cuales determinarán en gran medida la experiencia y efectos generados en los espectadores. Dentro del proceso, se juega con la tendencia del espectador a relacionar imágenes para construir significado. (Fernández y Martínez, 1999)

          p Desde el lenguaje audiovisual reconocemos el concepto de ritmo como la sensación dinámica dada por el flujo de movimiento, sonoro y visual en los diferentes planos, así como también por efectos de montaje. Es así como se puede crear tensión o relajación a partir de la forma en cómo se articulan los diferentes elementos. Se habla de que un plano cinematográfico posee un ritmo interno y otro externo, que también puede entenderse como montaje interno y montaje externo.

          p Para ampliar este concepto puede revisar el material complementario "El ritmo audiovisual. Ritmo interno y externo". 

      .jumbotron.img_texture
        .row.justify-content-center             
          .col-12.d-flex.justify-content-center
            img(src="assets/images/pages/tema_2/img_2_02.jpg", alt="", style="width:100%").img-fluid   
          .col-12
            .jumbotron.bg-white
              .list
                .list__item
                  .list__item__bulletNumber
                    span A
                .list__txt
                  h3.mb-3 Montaje interno
                  p Es aquel que se realiza antes de la producción de cada plano sin recurrir a la edición. Puede obtenerse con o sin movimientos de cámara y efectos ópticos.

                  p Al momento de optar por una cámara estática resulta importante denotar que la profundidad de campo, el enfoque, las acciones de los personajes, la composición y presencia fuera del campo, son los elementos a tener en cuenta para dotar a un plano de ritmo interno.

                  p Adicionalmente, el movimiento de cámara y de óptica amplían las posibilidades. Un plano secuencia (sin cortes) permitirá relacionar dos o más imágenes, así como también un zoom proporcionará el aislamiento de un detalle o descubrir un entorno. (Fernández y Martínez, 1999)

                  p.mb-0 Lo mejor es ver un ejemplo propuesto por Movieclips (2017) de la película “Atomic Blonde” en el material complementario.           

      .hr-divider.my-5

      .jumbotron.img_texture
        .row.justify-content-center             
          .col-12.d-flex.justify-content-center
            img(src="assets/images/pages/tema_2/img_2_03.jpg", alt="", style="width:100%").img-fluid   
          .col-12
            .jumbotron.bg-white
              .list
                .list__item
                  .list__item__bulletNumber
                    span B
                .list__txt
                  h3.mb-3 Montaje externo
                  p Recurre a la edición, recortando y organizando los diferentes planos de la producción de acuerdo a las necesidades narrativas y propósitos sugeridos por el director.

                  p El montaje externo puede lograrse a partir de la continuidad o discontinuidad temporal y espacial, empleando elipsis para suprimir información que la narrativa no requiere o que más adelante se mostrará, rompiendo así la linealidad. 

                  p.mb-0 El montaje según la idea o contenido trata de construir significados simbólicos o ideológicos mediante el uso de diferentes planos cuya relación sugiere un significado para el espectador. (Fernández y Martínez, 1999)


    .jumbotron.bg-white
      .row      
        .col-12
          .header-ecored.mt-3#tema2_1
            h2 2.1 Clasificación o métodos de montaje      

      .row
        .col-12.mb-5
          p Dado que la historia del montaje se encuentra unida a la evolución del lenguaje audiovisual, existen diferentes estilos, tendencias y comprensión de los espectadores, los cuales han ido cambiando los criterios para organizar y combinar de cierta manera cada uno de los fragmentos dentro de un filme (Fernández y Martínez, 1999). No existe como tal una única clasificación arbitraria dentro del montaje, así que se presentan algunas de las más importantes.

        .col-12
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Efecto Kuleshov
              p.mb-4 Este director soviético observó la facilidad con que los espectadores relacionaban campos dispares. Su experimento se basó en montar un primer plano estático y tranquilo del actor Mosjukin, seguido de un plato de sopa sobre una mesa; luego hacía la misma combinación, pero ahora seguido de un ataúd y por último una niña. Al presentar esto a un público no avisado, quedaron sorprendidos por la expresividad del actor en cada una de las situaciones. Lo único que se cambiaba era el fragmento que le seguía al primer plano del actor, y así se generaban sensaciones distintas.
              .row
                .col-auto
                  .jumbotron.mb-0
                    .row.align-items-center
                      .col-auto
                        img(src="assets/images/pages/tema_2/icon_2_01.svg", alt="", style="width:90px")
                      .col
                        p.mb-0 Lo mejor es consultar el material complementario “Hitchcock explica el efecto Kuleshov”.   

        .hr-divider.my-5

        .col-12
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3.mb-5 Clasificación sugerida por Pudovkin
              .list.mb-3
                .list__item
                  .list__item__bulletNumber
                    span A
                .list__txt
                  p #[strong Montaje por contraste:] se comparan dos situaciones contrarias: miseria vs. derroche, muerte vs. nacimiento.
              .list.mb-3
                .list__item
                  .list__item__bulletNumber
                    span B
                .list__txt
                  p #[strong Montaje por paralelismo:] presentación alternativa de dos tipos de sucesos diferentes.
              .list.mb-3
                .list__item
                  .list__item__bulletNumber
                    span C
                .list__txt
                  p #[strong Montaje por similitud:] relación simbólica entre dos tomas distintas. 
              .list.mb-3
                .list__item
                  .list__item__bulletNumber
                    span D
                .list__txt
                  p #[strong Montaje por sincronismo:] similar al paralelismo, con la diferencia que los sucesos están relacionados y ocurren al mismo tiempo.
              .list.mb-3
                .list__item
                  .list__item__bulletNumber
                    span E
                .list__txt
                  p #[strong Leitmotiv:] acentuación de una misma idea. También se le conoce como tema recurrente.
              .row
                .col-auto
                  .jumbotron.mb-0
                    .row.align-items-center
                      .col-auto
                        img(src="assets/images/pages/tema_2/icon_2_01.svg", alt="", style="width:90px")
                      .col
                        p.mb-0 Puede consultar el material complementario propuesto por Elder Tanaka sobre “Técnicas de montagem - Pudovkin”.
              

        .hr-divider.my-5

        .col-12
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3.mb-5 Clasificación sugerida por Eisenstein
              .list.mb-3
                .list__item
                  .list__item__bulletNumber
                    span A
                .list__txt
                  p #[strong Montaje métrico:] basado enteramente en la longitud de los fragmentos independiente de su contenido.
              .list.mb-3
                .list__item
                  .list__item__bulletNumber
                    span B
                .list__txt
                  p #[strong Montaje rítmico/ continuo:] la longitud de los fragmentos se establece en función del contenido de los fragmentos y la estructura de la secuencia. Se tiene una estrecha relación con el sonido. 
              .list.mb-3
                .list__item
                  .list__item__bulletNumber
                    span C
                .list__txt
                  p #[strong Montaje tonal:] es un grado superior del montaje rítmico, donde intervienen, además del movimiento y el sonido, el carácter emocional de cada fragmento. 
              .list.mb-3
                .list__item
                  .list__item__bulletNumber
                    span D
                .list__txt
                  p #[strong Montaje armónico:] resultado de la combinación y relación de conflicto de las 3 técnicas anteriores. 
              .list.mb-3
                .list__item
                  .list__item__bulletNumber
                    span D
                .list__txt
                  p #[strong Montaje intelectual:] pretende estimular el intelecto del espectador, haciendo uso de las técnicas anteriores. Podría catalogarse en cierta medida como el efecto Kulechov.
              .row
                .col-auto
                  .jumbotron.mb-0
                    .row.align-items-center
                      .col-auto
                        img(src="assets/images/pages/tema_2/icon_2_01.svg", alt="", style="width:90px")
                      .col
                        p.mb-0 Para tener mayor claridad de cada una de las técnicas de montaje sugeridas por Eisenstein basta con realizar una búsqueda en internet o revisar el material complementario de “La teoría del montaje en el cine de Eisenstein” y “Los montajes de Eisenstein-Escuela para Cineastas”.