.container#tema_3

    .header-ecored
        h1 3. Maqueta de sonido

    .jumbotron.bg-white      

      .row.justify-content-center
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_3/img_3_01.jpg", alt="").img-fluid
        
        .col-12
          p La maqueta de sonido es la exploración inicial del ensamble sonoro necesario para el audiovisual, en este punto se explora con música y otros sonidos en su mayoría pre existentes para para poder determinar en la práctica qué cosas pueden funcionar y que cosas no, de la misma manera sirve para establecer los tiempos exactos de cada acción ya que hay sonidos como los correspondientes a los diálogos que son necesarios para determinar aspectos de la animación.

          p.mb-5 Aunque inicialmente se trata de una maqueta para determinar con exactitud qué aspectos sonoros deben ser diseñados y producidos, desde este punto es importante tener en cuenta 4 aspectos fundamentales que deben estar presentes en el diseño sonoro de cualquier producción los cuales se listan y describen a continuación.

          .row
            .col-auto     
              a(href="https://www.ted.com/talks/tasos_frantzolas_everything_you_hear_on_film_is_a_lie#t-318270", target="_blank", style="color:#12263F")
                .jumbotron.bg-custom.mb-0
                  .row.justify-content-center.align-items-center
                    .col-auto
                      img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                    .col
                      p.mb-0 #[strong Ejemplo.] Tasos Frantzolas, #[i Everything you hear on film is a lie] 

    .jumbotron.bg-white
      .row      
        .col-12
          .header-ecored.mt-3#tema3_1
            h2 3.1 Diálogos

      .row
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_3/img_3_1_01.jpg", alt="").img-fluid
        
        .col-12
          p Son una parte fundamental de todo el diseño sonoro de una producción pues como se mencionó anteriormente, estos definen diversos aspectos de la animación como el timing o los acentos en el acting del personaje esta importancia hace casi imprescindible que de entre todos los audios de una producción los diálogos estén terminados antes de empezar a animar puesto que si se anima con diálogos provisionales es seguro que se generan reprocesos cuando se graben las versiones finales y esto puede dañar el appeal de la animación sin contar los tiempos extra de trabajo. 

          p.mb-0 Este aspecto incluye tanto los parlamentos de los personajes como las voces en off que en ocasiones acompañan narrando mientras transcurre la acción.

    .jumbotron.bg-white
      .row      
        .col-12
          .header-ecored.mt-3#tema3_2
            h2 3.2 Efectos

      .row
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_3/img_3_2_01.jpg", alt="").img-fluid

      .row
        .col-12.mb-4
          p En este aspecto podemos encontrar 2 grandes categorías, el sonido ambiente y los efectos especiales.

        .col-12
          .list.mb-4
            .list__item
              .list__item__bulletNumber
                span 1
            .list__txt
              h3.mb-3 Sonido ambiente o efectos de ambiente
              p.mb-0 También conocido como room tone, corresponde a todos aquellos sonidos que nos permiten identificar un espacio; es decir el sonido característico de un lugar cuando se encuentra en “silencio”, por ejemplo, el sonido de los pájaros cantando en el bosque mientras el viento pasa entre las hojas de los árboles o el ruido producido por personas hablando en un café. Es importante no confundirlo con el concepto de ambiente, ya que este corresponde a la atmósfera sonora que se crea para un espacio específico mediante la composición y edición de música y otros sonidos que no existirían naturalmente en el lugar, pero que contribuyen a lo que se quiere transmitir con la escena.       
          .list
            .list__item
              .list__item__bulletNumber
                span 2
            .list__txt
              h3.mb-3 Efectos especiales
              p Son sonidos específicos que sirven para resaltar determinadas situaciones y que son necesarios recrear ya en un estudio diseñado para ello o en un espacio natural, no tienen correspondencia estricta con lo que se está mostrando, por ejemplo en #[i Transformers] cuando un robot se transforma hace sonidos mecánicos y electrónicos, los cuales tienen que ser generados de cero para tal fin o capturados de diversas fuentes para modificarlos y adaptarlos a las necesidades de la narración, ya que no existe forma de capturar esos sonidos de un #[i transformer] real.
              p.mb-0 De la misma manera el cine está plagado de estos efectos de los cuales no tenemos referencia real pero, percibimos como algo creíble como es el caso de los láseres en #[i Star Wars] o el rugido de los dinosaurios en #[i Jurassic Park].

    .jumbotron.bg-white
      .row      
        .col-12
          .header-ecored.mt-3#tema3_3
            h2 3.3 #[i Foley]

      .row
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_3/img_3_3_01.jpg", alt="",style="width:100%").img-fluid

      .row
        .col-12
          p El #[i foley] es la reconstrucción o creación en estudio de sonidos en sincronía con la imagen real, es una forma de crear efectos especiales, pero principalmente sirve para resaltar o acentuar los sonidos que acompañan una acción y para ello se hace uso de gran variedad de elementos en un ambiente controlado.

          p Por ejemplo, puede existir una toma donde el sonido de los pasos es fundamental para lo que se desea narrar, pero el sonido capturado en el set no es suficientemente impactante por lo que es necesario crearlo en estudio para poder generar las sensaciones que se requieren.

          p.mb-5 Para el caso de la animación es imprescindible, ya que todos los sonidos procedentes de interacciones físicas deben ser generados de alguna manera al no existir los personajes en el mundo real.

          .row
            .col-auto     
              a(href="https://www.greatbigstory.com/stories/foley-artists-that-s-amazing", target="_blank", style="color:#12263F")
                .jumbotron.bg-custom.mb-0
                  .row.justify-content-center.align-items-center
                    .col-auto
                      img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                    .col
                      p.mb-0 #[strong Recurso.] #[i Great big story, The Magical Realism of Foley Artists] 

    .jumbotron.bg-white
      .row      
        .col-12
          .header-ecored.mt-3#tema3_4
            h2 3.4 Música

      .row
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_3/img_3_4_01.jpg", alt="").img-fluid

      .row
        .col-12.mb-4
          p En este aspecto encontramos también 2 grandes categorías la música diegética y la música extra diegética o incidental.

        .col-12
          .list.mb-4
            .list__item
              .list__item__bulletNumber
                span 1
            .list__txt
              h3.mb-3 Música diegética
              p.mb-0 Diégesis es una palabra derivada del griego y según la RAE hace referencia al desarrollo narrativo de los hechos en una obra literaria o cinematográfica, dicho esto, es el tipo de música es la que transcurre al interior del universo narrativo, es decir el emisor de esta música existe dentro de la historia, trátese de una radio, una rockola, una agrupación tocando en algún sitio o incluso el mismo personaje silbando o cantando.       
          .list
            .list__item
              .list__item__bulletNumber
                span 2
            .list__txt
              h3.mb-3 Efectos especiales
              p En su definición más sencilla se trata de música de acompañamiento, es decir se encarga de crear una atmósfera para el desarrollo de la acción y por tanto no existe al interior del universo narrativo y si fuese el caso el personaje no estaría en capacidad de escucharla. Habitualmente se compone para acompañar momentos específicos de la historia ya que debe estar pensada conforme a lo que se desea transmitir.

              p.mb-0 Uno de los ejemplos más claros y sencillos se da cuando en películas suena música agitada o cuando se desarrollan persecuciones o música de suspenso para anticipar que algo importante va a suceder.

