.container#tema_4

    .header-ecored
        h1 4. Proceso básico de animatic  

    .jumbotron.bg-white           
      .row.align-items-center        
        .col-12.col-lg-auto.d-flex.justify-content-center.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_4/icon_4_01.svg", alt="", style="width:325px")
        .col         
         p En el siguiente video se expone el proceso básico para el montaje de los cuadros elaborados en el proceso de storyboard con la finalidad de elaborar una animatic.
         p.mb-0 Para esto se utilizará el programa Blender el cual es un #[i software] libre que se puede obtener gratuitamente en la página #[a(href="http://www.blender.org", target="_blank") www.blender.org.]

    .jumbotron.bg-white           
      .row.mb-3        
        .col
          .card.mb-0
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/f5k6B6K8aA8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                 

    .jumbotron.bg-white           
      .row    
        .col
          .card.mb-0
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Dsb2amh5DxM', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                           
            .card-body.mt-0           
              p.mb-0 Aunque su uso principalmente está enfocado en el 3D, posee un apartado dedicado a la edición de video básica, ideal para introducirse en el mundo del montaje.

    .jumbotron.bg-white 
      .row.mb-4
        .col-12
          p Por otro lado, se pone a disposición una serie de videos que presenta el software especializado StoryboardPro y el proceso que se debe seguir para la construcción de un animatic. 
      .row
        .col-auto     
          a(href="https://youtu.be/IewO4FET2xg", target="_blank", style="color:#12263F")
            .jumbotron.bg-custom.mb-0
              .row.justify-content-center.align-items-center
                .col-auto
                  img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                .col
                  p.mb-0 #[strong Recurso.] #[i Webinar - Learn How to Create Animatics in Storyboard Pro] 


               

      